.search-box {
  width: 400px;
  height: 48px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  border: 1px solid #dcdcdc;
  background-color: $clr1;

  @include for-mobile-layout {
    width: 300px;
  }
}

.search-input {
  width: 100%;
  border-radius: 100px;
  border: 0px solid;
  outline: none;
  font-size: 1.25rem;
  background-color: transparent;
  margin-left: 30px;
}

.MuiOutlinedInput-notchedOutline {
  border: 0 !important;
}

.MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"] .MuiAutocomplete-input:first-child {
  padding-top: 1.5px;
}

.MuiAutocomplete-endAdornment {
  top: 5px !important;
}
.suggested-title {
  font-family: montserrat-bold;
}
.bold {
  color: $clr3;
}
