@font-face {
  font-family: caveat;
  src: url(../../fonts/Caveat/Caveat-Regular.ttf);
}
@font-face {
  font-family: Haalei;
  src: url(../../fonts/Haalei/Hanalei-Regular.ttf);
}
@font-face {
  font-family: montserrat;
  src: url(../../fonts/Montserrat/Montserrat-Black.ttf);
}
@font-face {
  font-family: Rancho;
  src: url(../../fonts/Rancho/Rancho-Regular.ttf);
}
