// Colors

$clr1: #fff;
$clr2:#141A3C;
$clr3:#30588C;
$clr4:#77A1D9;
$clr5:#B6D0F2;
$clr6:#EBEFF2;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
$wide-breakpoint: 1160px;