// Colors
$clr1: #ff8ba7;
$clr2: #4f3b58;
$clr3: #8ac6d1;
$clr4: #80808052;
$clr5: #dff0ea;
$clr6: #fff;
$clr7: rgb(68, 68, 68);
$clr8:#789fbb;
$clr9:#c2d5db;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
$wide-breakpoint: 1160px;