* {
    box-sizing: border-box;
}

body {
    margin: 0;
    line-height: 1.7;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}

html {
    background-image: linear-gradient(#789fbb, #c2d5db);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.main-header {
    display: flex;
    flex-direction: column;
    height: 30vh;
}

.top {
    display: flex;
    justify-content: flex-end;
    height: 80px;
    align-items: center;
}

.search-box {
    width: 28%;
    height: 47px;
    background-color: #ffffff;
    border-radius: 100px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    border: 1px solid #DCDCDC;
    align-self: center;
}

.search-input {
    width: 100%;
    border-radius: 100px;
    border: 0px solid;
    outline: none;
    /* margin-left: 30px; */
    text-indent: 30px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.search-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    
    height: 50px;
    min-width: 50px;
    border-radius: 50px;
    margin: 10px;
    color: blue;
    cursor: pointer;
}


.bottom {
    height: 80px;
    display: flex;
    
    justify-content: center;
}

.navs {
    display: flex;
    justify-content: space-around;
}

.forecast-list {
    display: flex;
    justify-content: space-between;
}

.forecast-preview {
    display: flex;
    flex-direction: column;
}

.forecast-icon {
    background-color: #3596db;
    display: flex;
    justify-content: center;
    text-align: center;
}

.forecast-info {
    background-color: #a4afb3;
}

.btn:link, .btn:visited {
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
    padding: 15px 15px;
}

.card-grid {
    grid-auto-rows: auto;
    grid-auto-flow: dense;
    width: 100%;
    display: grid;
    object-fit: contain;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 30px;
}