* {
  box-sizing: border-box;
}

html {
  font-family: montserrat-bold;
  line-height: 1.6;
}

body {
  color: $clr2;
  margin: 0;
  background-image: linear-gradient($clr3,$clr4,$clr5,$clr6);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: montserrat-black;
  margin: 0 0 0.6em;
  line-height: 1;
  text-align: center;
}

.link,
a {
  text-decoration: none;
}

.weather-app,
.favorites-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.favorites-page-title{
margin-bottom: 40px;
}

